*{
    margin: 0;
    padding: 0;
}
.btn{
    width: 200px;
    height: 40px;
    line-height: 40px;
    /*font-size: 18px;*/
    /*font-weight: 300;*/
    border-radius: 5%;
}
#staffAdd{
    width: 400px;
    margin: 10px auto;
}
#staffAdd li{
    list-style: none;
    width: auto;
    height: 50px;
    line-height: 50px;
    /*font-size: 18px;*/
    /*text-align: center;*/
}
#staffAdd li:nth-of-type(7){
    text-align: center;
}
#staffAdd li:nth-of-type(1){
    text-align: center;
}
.staffAddInput{
    width: 250px;
    height: 30px;
    /*font-size: 18px;*/
}