*{
    margin: 0;
    padding: 0;
}
#staffManage{
    width: auto;
    margin: 10px;
}
#staffManage th,#staffManage td{
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    /*border: 1px solid gray;*/
}